.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/background1.jpg');
    height: 95vh;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.call-to-action {
    border-radius: 5px;
    height: 60px;
    width: 240px;
    background-color: #6f0410;
    border: 1px solid #fff;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.call-to-action:hover {
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(255, 255, 255, .5);
}

.call-to-action:focus {
    outline: none;
}

.call-to-action a {
    color: #fff;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 32px;
}

@media (max-width: 940px) {
    .hero-image{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/background2.jpg');
        height: 100vh;
    }

    .hero-text{
        top: 50%;
        left: 50%;
    }
    
}