.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
    margin: 0 1%;
}

@media (max-width: 500px ) {
    .container {
        grid-template-rows: auto;
    }
}

@media (min-width: 939px ) {
    .container {
        grid-template-columns: auto auto auto;
        
    }

}