.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  border: solid 1.25px #fff;
  background-color: #081623;
  color: #fff;
  text-shadow: 1px .75px #111;
}

.section-header {
height: 25%;
margin-bottom: 2%;
}

.section {
height: 70%;
text-align: center;
}

.card:hover {
  box-shadow: 2px 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 24px;
  line-height: 36px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

address {
  margin: 25px 25%;
  font-size: 16px;
}

.address-container {
  width: 50%;
  margin: 5px 30%;
}
