.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 32px;
    height: 4px;
    background-color: #fff;
}

