.footerbar {
    margin-top: 50px;
    position: relative;
    top: 0;
    left: 0; 
    width: 100%;
    background-color: #081623;
    height: 200px;
}

.footerbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerbar__logo__image {
    width: 40px;
    margin-right: 10px;
}

footer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.footer_links {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    padding: 0 0.5rem;
}

footer a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

footer p {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}



.flex-column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px ) {
    .footerbar {
        height: 240px;
    }
}